/* Content */
.main_accordion{
  display: none;
  align-items: center;
  padding: 10px 0px 0px 0px;
}
.main_accordion p{
  width: 500px;
  font-size: 25px;
  padding: 0px 100px;
  text-align: justify;
}
.main_accordion img{
  display: block;
  width: 400px;
  height: 400px;
  object-fit: contain;
}
