/*** media queries ***/
@media screen and (max-width: 790px)  {
  /* Accordion */
  .accordion{
    width: 80%;
  }

  /* Header */
  .header_accordion h2{
    font-size: 18px;
  }

  /* Content */
  .main_accordion{
    flex-direction: column;
  }
  .main_accordion p{
    width: 80%;
    padding: 20px;
    margin: 0px;
  }
  .main_accordion img{
    width: 100%;
  }
}